<footer class="footer bg-dark text-white py-5 mt-5 text-center text-sm-left">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer</p>
            </div>
            <div class="col-md-4">
                <h3>Footer</h3>
                <p>Footer</p>
            </div>
        </div>
    </div>
</footer>