<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        My Space {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/icons/line-awesome/css/line-awesome.min.css') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'partials/_header.html.twig' %}

<main>
    <section class="container mx-auto grid items-center gap-6 pt-6 pb-8 md:py-10">
        {% block body %}{% endblock %}
    </section>
</main>

{% include 'partials/_footer.html.twig' %}

{% block javascripts_footer %}
{% endblock %}
</body>
</html>
